// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  color: grey;
  &:hover {
    color: black;
  }
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}


// Defining a variable
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

.answer {
  background: rgb(228, 228, 165);
  border-left: 7px solid lightgrey;
  font-size: 24px;
  width: 500px;
}
.question {
  background:  white;
  border-left: 7px solid lightgrey;
  font-size: 24px;
  width: 500px;
}
a {
  text-decoration: none;
}